/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* Body */
body {
  background-color: #0f172a;
  color: #e5e7eb;
}

/* Common */
section {
  padding: 80px 60px;
}

/* Animations */
.fade-in {
  animation: fadeIn 1.5s ease-in;
}

.slide-in {
  animation: slideIn 1.5s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-60px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
